# Lazygit
alias lg='lazygit'
# Make fd the standard command for fd
alias fd='fdfind'
# [o]pen [f]ile: open anything, using rifle as the opener
alias of='fd --type f --hidden --follow --exclude .git | fzf | xargs rifle'
# TODO: not working. [o]pen [d]irectory in shell: thanks gemini..?
#alias od='fd . "/home/reed" --type d --hidden --follow --exclude .git | fzf | xargs zsh -c "cd" -'
# [l]ist files: ls but show hidden files and use list format, with MB, not KB
alias l='ls -al --block-size=M'
# [c]opy [o]ut: copy stdout to the system clipboard
alias co='xclip -selection clipboard'
# [s]ource .zshrc
alias so='source ~/.zshrc'
# [n]eovim [d]ot[f]iles
alias ndf='cd ~/dotfiles/nvim/.config/nvim/ && nvim .'
# [g]it [s]tatus
alias gs='git status'
# make R not prompt to save workspace on exit
alias R='R --no-save'
# [n]uclear [r]e[m]ove
alias nrm='sudo rm -r'
